/* reset */

body,div,h1,h2,h3,p,ul,ol,input,textarea{margin:0;padding:0;font-size:14px;font-family:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;}
ul,ol{list-style:none;}
a{text-decoration:none;}
body{background-color:#f9f9f9;background-image:url('i/pattern.png');}
img{border:none;}

select{background-color:#4f4f4f;color:#e5e5e5;padding:3px;width:150px;height:25px;font-size:12px;}

.box{box-shadow: 0 0 8px rgba(0,0,0,0.1);}
.clearfix:after{content:'';display:block;clear:both;}

.input-text{box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.1);border:1px solid #ccc;}
.input-text:focus{outline: 0; -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);}

.btn-sure{background-image:-webkit-linear-gradient(top, #08C, #05C);border:1px solid #ccc;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color:#fff;}


/* header */
#hd{height:40px;line-height:40px;position:absolute;z-index:5;background-image:url('i/h-bar.png');box-shadow:0 0 15px 0 #444;position: relative;}
#hd .hd-main{;margin:auto;}
#hd .avatar{float:left;margin-left:10px;}


#hd .avatar img{width:32px;height:32px;}

#hd .hd-main{position:absolute;left:0;}
#hd .hd-main .logo{float:left;margin-left:320px;height:40px;width: 137px;background-position: -58px 5px;}

#hd .hd-tools{position:absolute;right:0;color:#fff;}
#hd .hd-tools a{color:#fff;}
#hd .hd-tools div{margin-right:15px;float:left;text-shadow:0 -1px 0 #666;}
#hd .hd-tools .uname{float:left;margin-right:20px;}
#hd .hd-tools .info{float:left;margin-right:20px;}
#hd .hd-tools .login{float:left;margin-right:20px;}
#hd .hd-tools .reg{float:left;margin-right:20px;}
#hd .hd-tools .info .count{color:#e11400;font-size:12px;position:relative;top:-5px;}

#hd .hd-tools .setting{float:left;margin-right:15px;background:url('i/sets.png') no-repeat center center;width:20px;height:40px;}
/* end of header */

#bd{margin-bottom:20px;width:1000px;margin:0 auto;}


#ft{height:60px;margin-bottom:20px;}