/* reset */

body,div,h1,h2,h3,p,ul,ol,input,textarea{margin:0;padding:0;font-size:14px;font-family:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;}
ul,ol{list-style:none;}
a{text-decoration:none;}
body{background-color:#f9f9f9;background-image:url('i/pattern.png');}
img{border:none;}

select{background-color:#4f4f4f;color:#e5e5e5;padding:3px;width:150px;height:25px;font-size:12px;}

.box{box-shadow: 0 0 8px rgba(0,0,0,0.1);}
.clearfix:after{content:'';display:block;clear:both;}

.input-text{box-shadow:inset 2px 2px 2px rgba(0, 0, 0, 0.1);border:1px solid #ccc;}
.input-text:focus{outline: 0; -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);}

.btn-normal{background-image:-webkit-linear-gradient(top, white, #E6E6E6);cursor:pointer;color:#333;border:1px solid #ccc;}
.btn-sure{background-image:-webkit-linear-gradient(top, #08C, #05C);cursor:pointer;border:1px solid #ccc;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color:#fff;}


/* action pannels */
.action-pannel{width:320px;height:440px;top:-440px;position:absolute;background: #fff;box-shadow:0 0 15px rgba(0, 0, 0, 0.6);}

.pannel-inner{
	margin:20px;
}

.pannel-inner .search-bar .input-text{
	border-radius: 5px 0 0 5px;
	width:140px;
	line-height:15px;
	height: 15px;
	padding: 5px;
	float:left;
	border-right:none;
}

.pannel-inner .search-bar .btn-sure,
.pannel-inner .search-bar .btn-normal{
	border-radius: 5px;
	float:left;
	height: 15px;
	padding:5px;
}


.pannel-inner .search-bar .search{
	border-radius: 0 5px 5px 0;
	margin-right: 10px;
}


/* header */
#hd{height:40px;line-height:40px;position:absolute;z-index:5;background-image:url('i/h-bar.png');box-shadow:0 0 15px 0 rgba(0, 0, 0, 0.6);position: relative;}

#hd img{width:32px;height:32px;border-radius:5px;display: block;}

#hd .logo{float:left;margin:0 4px 4px 8px;}
#hd .logo img{}


#hd .hd-tools{position:absolute;right:0;top:0;color:#fff;}
#hd .hd-tools .avatar{border-radius:5px;margin: 4px;}
#hd .hd-tools a{color:#fff;}
#hd .hd-tools div{float:left;text-shadow:0 -1px 0 #666;}
#hd .hd-tools .icon{width:32px;height:32px;position:relative;margin:4px;background-repeat:no-repeat;background-position: center center;}

#hd .hd-tools .at{background-image: url('i/at.png');}
#hd .hd-tools .find{background-image: url('i/find.png');}
#hd .hd-tools .msg{background-image: url('i/msg.png');margin-right:10px;}
#hd .hd-tools .msg small{color:#fff;background:#e43;padding: 2px;border-radius:3px;position:absolute;right:0;bottom: 0;height: 12px;line-height: 12px;}

/* end of header */

#bd{margin-bottom:20px;width:1000px;margin:0 auto;}


#ft{height:60px;margin-bottom:20px;}