#form{}
#form .error{padding:8px;border:1px solid #e66;border-radius: 10px;background:#ecc;color:#e66;}
#form .row{margin:10px;}
#form input{height:40px;width:288px;line-height:24px;font-size:18px;padding:5px;border-radius:15px;display: block;}
#form input[type=submit]{width:296px;}